<div class="card">
  <h2>Quick stats</h2>

  <div class="card-body">
    <div class="quick-stats d-flex justify-content-between">
      <strong>Resizable</strong>
      <mat-slide-toggle (click)="changeResize()"></mat-slide-toggle>
    </div>
    <hr />
    <div class="quick-stats d-flex justify-content-between">
      <strong>Draggable</strong>
      <mat-slide-toggle  (click)="changeDragable()"></mat-slide-toggle>


    </div>
    <hr />
    <div class="quick-stats d-flex justify-content-between align-items-center">
      <strong>Rest gridster:</strong>
      <div class="example-button-container">
        <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon" >
          <mat-icon>settings_backup_restore</mat-icon>
        </button>
      </div>

    </div>
    <hr />
    <div class="quick-stats d-flex justify-content-between">
      <strong>Bounce rate:</strong>
      <span>81.08%</span>
    </div>
    <hr />
    <div class="quick-stats d-flex justify-content-between">
      <strong>Session duration:</strong>
      <span>00:01:41 </span>
    </div>
    <hr />
    <div class="quick-stats d-flex justify-content-between">
      <strong>New session:</strong>
      <span>63.86% </span>
    </div>
    <hr />
  </div>
</div>
