.main-aside {
  position: sticky;
  top: 0;
  height: 100vh;
  padding-top: 5rem;
  width: 19.5rem;
  background-color: #1b1e24;
  color: aliceblue;
  .profile-img {
    border-radius: 50%;
    width: 4.375rem;
    height: 4.375rem;
  }
  .aside-nav-item {
    margin-bottom: 1rem;
    a {
        
      color: #8b91a0;
      transition: 300ms;
      &:hover{
        color: #FFF;
      }
      span {
        margin-left: 0.5rem;
      }
    }
  }
}

.accordion {
    .accordion-item{
        background-color: #1B1E24 !important;
  span{
    font-size: .88rem;
  }
  }
  .accordion-content{
    background-color: #1b1e24;
    color: rgb(251, 251, 252);
        li{
            background-color: #2B303B;
            margin-left: 1rem;
            padding: .5rem;
            margin-bottom: .5rem;
            margin-top: .5rem;
            border-radius: .25em;

            a{
                color: #8b91a0;
                &:hover{
                    color: #FFF;
                }
            }
        }
  }
}

.accordion-button:after {
  filter: brightness(.4);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
  .accordion-button:not(.collapsed){
    box-shadow: none !important;
  }

.accordion .accordion-button:focus {
  box-shadow: none !important;
  border: none !important;
}
