
<div class="card">
    <h2>Real time information</h2>

    <div class="card-body" style="margin-top: 3rem;">
     <div class="quick-stats d-flex justify-content-between">
        <strong>Active dogs:</strong>
        <span class="badge badge-warning bg-warning">255</span>
     </div>
     <hr>
     <div class="quick-stats d-flex justify-content-between">
        <strong>Silo status:</strong>
        <span class="badge badge-warning bg-success"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
            <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
          </svg></span>
     </div>
     <hr>
     <div class="quick-stats">
        <strong>Usage level:</strong>
          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
     </div>
     <hr>
     <div class="quick-stats d-flex justify-content-between">
        <strong>Free space:</strong>
        <span>32%</span>
     </div>
     <hr>
    </div>
  </div>

