@import "~bootstrap/dist/css/bootstrap.css";
@import "bootstrap/scss/bootstrap";


/* START GENERAL STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: borde-box;
}
body {
  font-family: "Cera light", "Courier New", Courier, monospace;
  background-color: #E5E9EC;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
hr{
  margin: 0.5rem;
}


/* END GENERAL STYLES  */


@media (max-width: 1200px) {
   
}

@media  (max-width: 992px) {
  .top-navbar{
    background-color:#252830 !important ;
    button{
      background-color: #FFF;
    }
  }
  .main-aside{
      width: 5rem !important;
      .profile-block{
        img{
          margin: auto !important;
        }
.profile-title {
        display: none;
      }
      }
      .aside_nav{
        hr{
          display: none;
        }
        .aside-nav-item_wrapper{
          .aside-nav-item{
            .accordion-content{
                  li{
                      margin-left: 0rem !important;
                  }
            }
            a{
              span{
                display: none;
              }
            }
          }
        }
      }

  }
}

.card{
  border: 0 !important;
  h2{
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: .5rem;
    margin-bottom: .2rem;
  }
  .card-body{
padding-top:0 ;
padding-bottom:0 ;

  }
}

.custom-col {
  display: flex;
  flex-direction: column;
}

.custom-col > * {
  flex-grow: 1;
}

.gridster-item{
box-shadow: 1px 1px 6px 1px gray;
}
.highcharts-root{
  height: 80%;
  width: 100%;
}

