@import "~bootstrap/dist/css/bootstrap.css";
@import "bootstrap/scss/bootstrap";

/* START GENERAL STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cera light", "Courier New", Courier, monospace;
  background-color: #e5e9ec;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
hr {
  margin: 0.5rem;
}
/* END GENERAL STYLES  */

//START GRIDSTER BLOBAL STYLE
.gridster-item {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.highcharts-root {
  height: 80%;
  width: 100%;
}
//END GRIDSTER BLOBAL STYLE
.card {
  border: 0 !important;
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
  }
  .card-body {
    padding-top: 0;
    padding-bottom: 0;
  }
}
// START MEDIA
@media (max-width: 1200px) {
}
@media (max-width: 992px) {
  .top-navbar {
    background-color: #252830 !important ;
    button {
      background-color: #fff;
    }
  }
  .main-aside {
    width: 5rem !important;
    .profile-block {
      img {
        margin: auto !important;
      }
      .profile-title {
        display: none;
      }
    }
    .aside_nav {
      hr {
        display: none;
      }
      .aside-nav-item_wrapper {
        .aside-nav-item {
          .accordion-content {
            li {
              margin-left: 0rem !important;
            }
          }
          a {
            span {
              display: none;
            }
          }
        }
      }
    }
  }
}
// END MEDIA


