<section class="content-page">
  <!-- <gridster [options]="gridsterOptions">
    <gridster-item [item]="gridsterItems[0]">
      <app-overall></app-overall>
    </gridster-item>
    <gridster-item [item]="gridsterItems[1]">
        <app-quick-stats></app-quick-stats>
      </gridster-item>
      <gridster-item [item]="gridsterItems[2]">
        <app-overall></app-overall>
      </gridster-item>
  </gridster> -->
  <div class="container">
 <div class="row row-gap-4">
    <app-overall class="col-md-7 custom-col"></app-overall>
    <app-quick-stats class="col-md-5 custom-col"></app-quick-stats>
    <app-performance class="col-md-7 custom-col"></app-performance>
    <app-ration class="col-md-5 custom-col"></app-ration>
    <app-real-time-information class="col-md-7 custom-col"></app-real-time-information>
    <app-daily-usage class="col-md-5 custom-col"></app-daily-usage>
 </div>
</div>
</section>
