<section class="main-section">
  <gridster [options]="options" #gridster>
    <gridster-item [item]="dashboard[0]" class="gridster-item">
      <app-overall></app-overall>
    </gridster-item>
    <gridster-item [item]="dashboard[1]" class="gridster-item">
      <app-quick-stats (switchEvent)="switchEvent($event)" (resetGridSterEvent)="resetGridster()"></app-quick-stats>
    </gridster-item>
    <gridster-item [item]="dashboard[2]" class="gridster-item">
      <app-performance></app-performance>
    </gridster-item>
    <gridster-item [item]="dashboard[3]" class="gridster-item">
      <app-ration></app-ration>
    </gridster-item>
    <gridster-item [item]="dashboard[4]" class="gridster-item">
      <app-real-time-information></app-real-time-information>
    </gridster-item>
    <gridster-item [item]="dashboard[5]" class="gridster-item">
      <app-daily-usage></app-daily-usage>
    </gridster-item>
  </gridster>
</section>





